body {
    width: 70%;
    font-size: center;
    margin: auto;
}

#footerid {
    width: 70%;
    margin: auto;
}
  }
  table {
    border-spacing: 10px;
    border-collapse: separate;
    cellspacing: 100px;
    width: 1200px;
  }
  td {
    border: 1px solid black;
    padding: 10px;
  }
  li {
    cursor: pointer;
  }
  /*
   * Bilden på enhörningen blir lätt för stor. Det kan vi ordna genom att,
   * exempelvis, bestämma bredden på list och #info.
   */
  #unicornImage img {
    max-width: 800px;
  }
  /*
   * I samma veva kan vi sätta bredden på #list till ett fast värde så att den
   * inte ändrar storlek hela tiden.
   */
  #list {
    width: 300px;