body {
    width: 70%;
    font-size: center;
    margin: auto;
}

#footerid {
    width: 70%;
    margin: auto;
}
  }
  table {
    border-spacing: 10px;
    border-collapse: separate;
    cellspacing: 100px;
    width: 1200px;
  }
  td {
    border: 1px solid black;
    padding: 10px;
  }
  li {
    cursor: pointer;
  }
  
  #unicornImage img {
    max-width: 800px;
  }
  #list {
    width: 300px;